<div class="container py-3">

    <h2 class="text-center ">
        ¿QUÉ BUSCAS?
    </h2>
    <hr>
    <div class="row">
        <div class="col-md-6 py-1">
            <div (click)="vVerEquipos()" class="card cardP" style="border-radius: 50px;">
                <div style="text-align: center;" type="button">
                    <img style="width: 60%; height: 70%;" src="https://res.cloudinary.com/dfyevp7g4/image/upload/v1681441034/original_em8zmk.png" alt="">
                </div>
            </div>
        </div>


        <div class="col-md-6 py-1 ">
            <div (click)=" vVerjugadores()" class="card cardP " style="border-radius: 50px;">
                <div style="text-align: center;" type="button">
                    <img style="width: 60%; height: 70%;" src="https://res.cloudinary.com/dfyevp7g4/image/upload/v1681439357/asdd_lk3erq.png" alt="">
                </div>
            </div>


        </div>
    </div>
</div>