.example-card {
    background: #7e3388;
}

.example-header-image {
    background-image: url('https://res.cloudinary.com/dfyevp7g4/image/upload/v1681826018/My_project-1_veocya.jpg');
    background-size: cover;
}

.custom-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Ajustar los valores según tus preferencias de sombreado */
}

.ojo {
    color: rgb(25, 25, 177);
}

.ojo:hover {
    color: rgb(40, 40, 189);
}

.enviar {
    color: rgb(22, 151, 22);
}

.enviar:hover {
    color: rgb(50, 181, 50);
}

.modal-content {
    background: linear-gradient(to bottom right, #540260, #323132);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}