<div class="back-button">
    <a type="button" onclick="history.go(-1)"><i class="fa-solid fa-delete-left"></i></a>
</div>
<div class="container" style="margin-top: 80px;">
    <h1 class="text-center">¡Bienvenido a DreamTeam!</h1>
    <br>
    <p>Nos complace presentarte nuestro producto, proporcionado por Jerónimo Noel Vera Galvalisi. Te brindamos acceso al Servicio (como se define a continuación) sujeto a estos Términos de Servicio y a la Política de Privacidad correspondiente de DreamTeam.
        Al acceder y utilizar el Servicio, estás aceptando y comprendiendo los Términos de Servicio y a la <a href="paginas/politicas">Política de Privacidad.</a> Si no estás de acuerdo con ellos, no utilices el Servicio. Al utilizar el Servicio, acepta
        los términos y condiciones que se describen a continuación, incluyendo las modalidades operativas vigentes y futuras.</p>
    <h4 class="sterminos">Operaciones habilitadas</h4>
    <p>Las operaciones habilitadas se refieren a aquellos que están disponibles para los clientes, siempre y cuando cumplan con los requisitos que estén vigentes en el momento de operar el Servicio. Estas podrán ser operaciones ampliadas o restringidas por
        el proveedor, quien se comunicará con los clientes con una antelación no menor a 60 días. Las operaciones habilitadas incluyen, entre otras:</p>
    <ul>
        <li>Los usuarios con el rol de Administrador pueden registrarse en el sistema y modificar su perfil. Además, tienen la capacidad de consultar información de los usuarios registrados, así como generar informes específicos relacionados con la cantidad
            de jugadores por posición buscando equipo o por provincia.</li>
        <li>Por otro lado, los usuarios con el rol de Competidor también pueden registrarse en el sistema y modificar su perfil. Además, cuentan con la posibilidad de registrar equipos, modificarlos o eliminarlos. También pueden registrar jugadores, modificar
            su información o eliminarlos del sistema.</li>
        <li>Los usuarios con el rol de Competidor pueden enviar notificaciones, así como consultar y eliminar las notificaciones existentes.</li>
    </ul>
    <h4 class="sterminos">Costo del servicio</h4>
    <p>La empresa DreamTeam no cobra comisiones por el mantenimiento y/o uso de este Servicio en la actualidad, pero en un futuro podría implementar algún tipo de carga. En caso de hacerlo, se informará con al menos 60 días de antelación y se solicitará
        la aceptación de los usuarios a los nuevos términos y condiciones.</p>
    <h4 class="sterminos">Validez de operaciones y notificaciones</h4>
    <p>Los registros generados por la aplicación serán considerados como prueba suficiente de las operaciones realizadas a través de dicho canal. En este sentido, renuncio expresamente a impugnar la idoneidad o eficacia probatoria de este medio. Asimismo,
        en cumplimiento de cualquier disposición legal o contractual, reconozco que las notificaciones realizadas a través de la aplicación tendrán el mismo valor que las notificaciones realizadas por escrito.</p>
    <h4 class="sterminos">Propiedad intelectual</h4>
    <p>El software en Argentina está protegido por la ley 11.723, que regula la propiedad intelectual y los derechos de autor de todos aquellos creadores de obras artísticas, literarias y científicas.</p>
    <h4 class="sterminos"> Privacidad de la información</h4>
    <p> Para utilizar los Servicios ofrecidos por DreamTeam, los Usuarios deberán facilitar determinados datos de carácter personal. Su información personal se procesa y almacena en servidores o medios magnéticos que mantienen altos estándares de seguridad
        y protección tanto física como tecnológica. Para mayor información sobre la privacidad de los Datos Personales y casos en los que será revelada la información personal, se pueden consultar nuestras políticas de privacidad.</p>
</div>
<footer class="py-2 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="small">&copy; 2023 DreamTeam. Todos los derechos reservados.</p>
            </div>
            <div class="col-md-6">
                <p class="small"><a href="paginas/politicas">Política de Privacidad</a> | <a href="paginas/terminosycondiciones">Términos y Condiciones</a> | <a href="paginas/contacto">Contacto</a></p>
            </div>
        </div>
    </div>
</footer>