<div class="container">
    <div class="jumbtron">
        <div class="row">
            <div class="col-md-7 py-5">
                <h6 class="text-center ">
                    Modificar Equipo
                </h6>
                <hr>
                <div class="card cardP " style="border-radius: 10px;">
                    <form class="container" [formGroup]="form" (ngSubmit)="actualizarEquipo()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group  py-2">
                                    <label for="">Nombre</label>
                                    <input type="nombre" class="form-control" name="nombre" formControlName="nombre" [class.red-icon]="this.form.get('nombre')?.invalid" />
                                </div>

                                <div class="form-group py-2">
                                    <label for="">Celular</label> <i [matTooltipPosition]="'above'" matTooltip="Primero ingrese la caracteristica sin '0' inicial y luego tu numero de celular" [matTooltipShowDelay]="700" type="button" style="margin-left: 4px; color: #920AA6;"
                                        class="fa-solid fa-circle-info"></i>
                                    <input type="celular" class="form-control" name="celular" formControlName="celular" [class.red-icon]="this.form.get('celular')?.invalid" />
                                </div>

                                <div class="form-group py-2">
                                    <label for="">Torneos Ganados</label>
                                    <input type="tg" class="form-control" name="torneoGanado" formControlName="torneoGanado" [class.red-icon]="this.form.get('torneoGanado')?.invalid" />
                                </div>

                                <div class="form-group py-2">
                                    <label for="">Entrenador</label>
                                    <input type="entrenador" class="form-control" name="entrenador" formControlName="entrenador" [class.red-icon]="this.form.get('entrenador')?.invalid" />
                                </div>
                            </div>

                            <div class="col-md-6">

                                <div class="form-group py-2">
                                    <label for="">Estado</label>
                                    <select class="form-control" formControlName="idEstadoE" [class.red-icon]="this.form.get('idEstadoE')?.invalid">
                                      <option value="" selected disabled>Selecciona una opción...</option>
                                      <option *ngFor="let item of estado" [value]="item.idEstadoE">{{item.nombre}}</option>
                                    </select>
                                </div>

                                <div class="form-group py-2">
                                    <label for="">Genero</label>
                                    <select class="form-control" formControlName="idGeneroE" [class.red-icon]="this.form.get('idGeneroE')?.invalid">
                                      <option value="" selected disabled>Selecciona una opción...</option>
                                      <option *ngFor="let item of genero" [value]="item.idGeneroE">{{item.nombre}}</option>
                                    </select>
                                </div>

                                <div class="form-group py-2">
                                    <label for="">Provincia</label>
                                    <select class="form-control" formControlName="idProvincia" [class.red-icon]="this.form.get('idProvincia')?.invalid">
                                      <option value="" selected disabled>Selecciona una opción...</option>
                                      <option *ngFor="let item of provincia" [value]="item.idProvincia">{{item.nombre}}</option>
                                    </select>
                                </div>

                                <div class="d-flex align-items-center" style="width: 80%; margin-left: 10%;">
                                    <div class="d-flex align-items-center py-2" style="width: 80%; margin-left: 10%;">
                                        <button [disabled]="form.invalid" class="btn btnLogin flex-grow-1" type="submit">Modificar Equipo</button>
                                        <i class="fa-solid fa-trash iconored" type="button" (click)="limpiarInputs()" id="" style="margin-left: 10%" [matTooltipPosition]="'below'" matTooltip="Limpiar campos" [matTooltipShowDelay]="700"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="col-md-5 py-5 ">
                <h6 class="text-center ">
                    Listado de Jugadores
                </h6>
                <hr>
            </div>
        </div>
    </div>
</div>