<div class="back-button">
    <a type="button" onclick="history.go(-1)"><i class="fa-solid fa-delete-left"></i></a>
</div>

<div class="container" style="margin-top: 80px;">

    <h1 class="text-center">Política de Privacidad de DreamTeam</h1>
    <br>
    <p>En DreamTeam, estamos comprometidos a proteger la privacidad de nuestros usuarios. Esta Política de Privacidad describe cómo recopilamos, utilizamos, divulgamos y protegemos la información personal que obtenemos a través de nuestro sitio web. Al utilizar
        nuestro sitio web, aceptas las prácticas descritas en esta Política de Privacidad.</p>
    <h4 class="sterminos">Información que recopilamos</h4>
    <p>Podemos recopilar la siguiente información personal cuando te registras en nuestro sitio web: [NOMBRE, DIRECCIÓN DE CORREO ELECTRÓNICO, NÚMERO DE TELÉFONO]. También podemos recopilar información personal adicional de otras fuentes y combinarla con
        la información que recopilamos a través de nuestro sitio web. Además, recopilamos información no personal, como tu tipo de navegador, el sistema operativo que utilizas y los nombres de dominio de los sitios web desde los que accedes a nuestro
        sitio web. También podemos recopilar información sobre tus hábitos de navegación, como la fecha y hora en que visitas nuestro sitio web y las áreas o páginas que visitas con mayor frecuencia.</p>
    <h4 class="sterminos">¿Cómo utilizamos la información que recopilamos?</h4>
    <p>Utilizamos la información personal que recopilamos para procesar tus pedidos, responder a tus preguntas y enviarte comunicaciones de marketing por correo electrónico. También podemos utilizar la información personal para mejorar nuestro sitio web,
        nuestros productos y servicios, y para personalizar tu experiencia de usuario en nuestro sitio web. Podemos utilizar la información no personal que recopilamos para fines estadísticos y para mejorar nuestro sitio web y nuestros productos y servicios.
        Podemos compartir información no personal con terceros para estos fines.</p>
    <h4 class="sterminos">¿Cómo compartimos la información que recopilamos?</h4>
    <p>No vendemos ni alquilamos información personal a terceros. Podemos compartir información personal con terceros que prestan servicios en nuestro nombre, como empresas de envío y procesamiento de pagos. También podemos compartir información personal
        en respuesta a una orden judicial o una solicitud de las autoridades.</p>
    <h4 class="sterminos">¿Cómo protegemos la información que recopilamos?</h4>
    <p>Mantenemos medidas de seguridad administrativas, técnicas y físicas razonables para proteger la información personal que recopilamos contra la pérdida, el uso indebido y el acceso no autorizado, la divulgación, la alteración y la destrucción. Sin
        embargo, ninguna transmisión de datos a través de Internet o de cualquier otra red es completamente segura, por lo que no podemos garantizar la seguridad absoluta de la información que recopilamos.</p>
    <h4 class="sterminos">¿Cambios en esta política de privacidad?</h4>
    <p>Podemos actualizar esta Política de Privacidad de vez en cuando. Si hacemos cambios significativos, te lo notificaremos publicando una versión actualizada de esta Política de Privacidad en nuestro sitio web. Te recomendamos que revises esta Política
        de Privacidad periódicamente.</p>
</div>
<footer class="py-2 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="small">&copy; 2023 DreamTeam. Todos los derechos reservados.</p>
            </div>
            <div class="col-md-6">
                <p class="small"><a href="paginas/politicas">Política de Privacidad</a> | <a href="paginas/terminosycondiciones">Términos y Condiciones</a> | <a href="paginas/contacto">Contacto</a></p>
            </div>
        </div>
    </div>
</footer>