@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
}

@media (max-width: 767px) {
    body {
        overflow: auto;
    }
}

.ajs-warning {
    background-color: orange;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - altura_del_contenido_principal - altura_del_footer);
    background-color: #333334;
    text-align: center;
}

.fondo-black {
    background: linear-gradient(to bottom right, #51085c, rgb(35, 34, 34));
    background-size: cover;
    background-attachment: fixed;
}

.fondo-sidebar {
    background: #4a0654;
}

.sidecolor {
    color: rgb(255, 255, 255);
}

.colorside {
    background-color: #560962;
}

.colorMenu {
    background-color: #a371aa;
}

.btnMenu {
    border-radius: var(--bs-border-radius-xl) !important;
    background-color: #2d0233;
    color: #FAF8F2;
}

.btnMenu:hover {
    background-color: #480752;
    color: #FAF8F2;
}

.btnLogin {
    border-radius: var(--bs-border-radius-xl) !important;
    background-color: #2d0233;
    color: #FAF8F2;
}

.btnLogin:hover {
    background-color: #a371aa;
    color: #FAF8F2;
}

.fa-bars.rotated {
    transform: rotate(90deg);
}

.fa-bars.rotated:hover {
    transform: rotate(90deg);
}

.fa-bars:hover {
    transform: scale(1.1);
}

.letraside {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

.btnLogin:disabled {
    color: #2d0233;
    background-color: #ccc;
}

input.ng-touched.ng-dirty.ng-invalid {
    border-color: tomato;
    border-style: solid;
    border-width: 2px;
}

select.ng-touched.ng-dirty.ng-invalid {
    border-color: tomato;
    border-style: solid;
    border-width: 2px;
}

input.ng-valid {
    border-color: rgb(94, 163, 66);
    border-style: solid;
    border-width: 2px;
}

select.ng-valid {
    border-color: rgb(94, 163, 66);
    border-style: solid;
    border-width: 2px;
}

.sterminos {
    border-bottom: 2px solid;
    display: inline-block;
    margin-bottom: 10px;
}

.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    z-index: 9999;
    background-color: rgb(160, 30, 30);
    border-radius: 100%;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.back-button:hover {
    transform: scale(1.3);
}

.back-button a {
    display: block;
    padding: 10px;
}

.fa-delete-left {
    font-size: 20px;
}

.modal-backdrop {
    z-index: -1;
}