<div class="back-button">
    <a type="button" onclick="history.go(-1)"><i class="fa-solid fa-delete-left"></i></a>
</div>
<br>
<br>
<br>
<div class="container">
    <h1 class="text-center">Ayuda en línea</h1>
    <p>Bienvenido a nuestra sección de ayuda en línea. Aquí encontrará información detallada sobre cómo utilizar nuestro sitio web y responderemos algunas preguntas frecuentes. Si no puede encontrar la respuesta a su pregunta, no dude en ponerse en contacto
        con nuestro servicio de atención al cliente.</p>
    <div class="row">
        <div class="col-md-6">
            <h4>¿Cómo registro una cuenta?</h4>
            <p>Para registrarse en nuestro sitio web, simplemente haga clic en el botón "Registrarse" que se encuentra <a href="paginas/registro">Aqui</a>. A continuación, se le pedirá que proporcione su dirección de correo electrónico, nombre de usuario
                y contraseña. Una vez que haya completado todos los campos, haga clic en "Registrarse" y su cuenta será creada.</p>
        </div>
        <div class="col-md-6">
            <h4>¿Cómo cambio mi contraseña?</h4>
            <p>Cambiar la contraseña no es posible actualmente en la aplicación. Por lo tanto, en caso de que la olvides, deberás ponerte en contacto con nosotros. Validaremos que eres el dueño de la cuenta y te otorgaremos una nueva, eliminando la cuenta
                anterior.</p>
        </div>
        <h4>¿Cómo me pongo en contacto con el servicio de atención al cliente?</h4>
        <p>Si tiene alguna pregunta o problema, no dude en ponerse en contacto con nuestro servicio de atención al cliente. Puede enviar un correo electrónico a <strong>jerovera2016@gmail.com</strong> o llamar al número de teléfono <a href="tel:3534260220">353-426-0220</a>.
            Nuestro equipo estará encantado de ayudarle con cualquier problema que tenga.</p>

    </div>
</div>
<br>
<footer class="py-3 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="small">&copy; 2023 DreamTeam. Todos los derechos reservados.</p>
            </div>
            <div class="col-md-6">
                <p class="small"><a href="paginas/politicas">Política de Privacidad</a> | <a href="paginas/terminosycondiciones">Términos y Condiciones</a> | <a href="paginas/contacto">Contacto</a></p>
            </div>
        </div>
    </div>
</footer>